/*Main style sheet for memory game */

/**/
body{
	text-align: center;
	margin: 0;
	background-color: rgba(0,0,0,0.1);
	font-family: 'Droid self', san-serif;
}

header{
	background-color: #F15B31;
	color: #fff;
	padding: 30px 20px;
}

main{
	width: 850px;
	margin: 35px auto;
}

nav{
	background-color: #00A6B3;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

a{
	border-bottom: 2px solid transparent;
	margin-right: 20px;
}

a:hover{
	border-color: white;
}
img{
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
}

h1,h2{
	font-family: 'Raleway', monospace;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1{
	margin: 0;
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
}

h2{
	font-size: 20px;
	color: #0D2C40;
}

a{
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	font-family: 'Raleway', monospace;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
}

/*Edit h2 links */
h2 a{
	text-decoration: none;
	font-size: 20px;
	color: #0D2C40;
	font-weight: 600px;
}
li,ul{
	list-style: none;
	padding: 0;
}

footer{
	background-color: #0D2C40;
	color: white;
	text-transform: uppercase:;
	padding: 1px 0;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

footer:hover{
	background: #0D2C40;
}

.copyright{
	float: left;
}

.message{
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color: #F15B31;
	font-weight: 700;
}

.input{
	width: 500px;

}